<!doctype html>
<html>
   <head>
     <meta name="viewport"content="width=device-width, initial-scale=1.0">
     <title> Easy Hangman </title>
   </head>
   <body>

      <h1>{{ pagemessage }}</h1>
      <p>Letters already chosen:</p>

      <ul class=selectedletters>
      {% for entry in selectedletters %}
        <li><p>{{ entry }}</p>
      {% else %}
        <li><em>Unbelievable. No entries here so far</em>
      {% endfor %}
      </ul>

      <form action = "/game" method = "POST">
         <p>Insert another letter: <input type = "text" name = "letter" pattern="[A-Za-z]" maxlength="1" autofocus/></p>
         <p><input type = "submit" value = "Submit" /></p>
      </form>

      <h1>Word: {{ answer }}</h1>

   </body>
</html>
